<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>ShineCash</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>shinecash</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>FacebookAdvertiserIDCollectionEnabled</key>
	<true/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>To provide efficient and convenient identity verification services, Shine Cash requires access to your camera for document capture and facial recognition. All collected images are stored encrypted to ensure the security of your information.</string>
	<key>NSContactsUsageDescription</key>
	<string>To improve the risk control system, Shine Cash needs to access your address book to set up emergency contacts. We will only obtain contact information that you have voluntarily selected and strictly adhere to the principle of minimizing data collection.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Shine Cash needs to obtain your location information to provide you with a convenient financial service experience and ensure transaction security. We only obtain location data when you use the service and never track it in the background. You can turn off this permission at any time in your phone settings.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Shine Cash applies for album access permission, allowing you to quickly upload stored ID photos, saving the trouble of repeated shooting. You can choose the photos you want to share independently and have complete control over your personal privacy.</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>Shine Cash uses advertising identifiers to optimize personalized product recommendations and provide you with more accurate financial service solutions. You can manage personalized advertising features at any time through "Settings - Privacy - Tracking".</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>Launch Screen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
</dict>
</plist>
